@model IEnumerable<Domain.Entities.House>

@{
    ViewBag.Title = "List";
}

@foreach (var p in Model)
{
    <div class="item">
        <h3>House number: @p.HouseNr</h3>
        Kadastr number: @p.KadastrNr
        <h4>HouseID: @p.HouseID</h4>
    </div>
}