<div class="jumbotron">
    <table style="width:100%">
        <tr>
            <th><h1>Welcome</h1></th>
            <th style="text-align:right"><img src="~/Images/Sunflower-icon.png" /></th>
        </tr>
        <tr>
            <td><p class="lead">to SmartVillage-Online Web API</p></td>
        </tr>
    </table>
  <p><a href="https://github.com/Marusyk/SmartVillageOnline/wiki" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> 
</div>
