<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">to SmartVillage-Online Web API</p>
    <p><a href="https://github.com/Marusyk/SmartVillageOnline" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
