
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Test dictionary:";
}
@section scripts {
    @Scripts.Render("~/bundles/dictionaryTest")
}
    <section>
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div>
                <select id="sysDictList" onchange="GetStructur()"></select>
                <br />
                <table class="table table-hover">
                    <tr>
                        <td>
                          <button class="btn btn-primary btn-sm btn-block" onclick="GetAllEntities();return false;">Get All Entities</button>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm btn-block" onclick="GetEntity(); return false;">Get Entity</button>                        
                            <br />
                            Enter Entity Id:
                            <input class="form-control input-sm" type="text" id="txtId" style="width:50PX" /> 
                        </td>
                        <td>                           
                            <button class="btn btn-primary btn-sm btn-block" onclick="AddEntity();return false;">Add Entity</button>
                            <br />
                            <div class="form-group">
                                <table>
                                    <tr><td>Name:</td><td><input class="form-control" type="text" id="txtaddName" /></td></tr>
                                    <tr>
                                        <td><label id="linked">Linked:</label></td>:
                                        <td><select id="sysDictList" onchange="GetStructur()"></select></td>
                                    </tr>
                                    <tr><td>LastUpdDT:</td><td><input class="form-control" type="datetime" id="txtaddDt" /></td></tr>
                                </table>
                            </div>
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm btn-block" onclick="DeleteEntity(); return false;">Delete Entity</button>
                          <br />
                          Delete Entity <input type="text" class="form-control input-sm" id="txtdelId" style="width:50PX" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

<h3>Oputput of action done through WEB API:</h3>
<div id="divResult"></div>

<select id="StudentDropDown" ><option>11</option></select>
<button class="btn btn-primary btn-sm btn-block" onclick="Getsel(); return false;">ddy</button>

<script type="text/javascript">
    GetDictionary();
    function GetDictionary() {
        jQuery.support.cors = true;
        $.ajax({
            type: "get",
            url: "http://localhost:3761/api/Dictionary",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: {},
            success: function (result) {
                $.each(result, function (i) {
                    $('#sysDictList').append($('<option></option>').val(result[i].ID).html(result[i].Name));
                });
            },
            failure: function () {
                alert("Error");
            }
        });
    }

    function GetStructur() {
        jQuery.support.cors = true;
        var name = $('#sysDictList :selected').text();
        if (name == 'Country') 
        {
            $('#linked').hide();
            alert('dd');
        }
        else 
        {
            alert('no' + name);
        }
    };


</script> 
