
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Test simple dictionary";
}
    <section>
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div>
                <table>
                    <tr>
                        <td><button onclick="GetAllEntities();return false;">Get All Entities</button></td>
                        <td>Enter Entity Id: <input type="text" id="txtId" style="width:50PX" /></td>
                        <td><button onclick="GetEntity(); return false;">Get Entity</button></td>
                        <td>
                            <table>
                                <tr><td>Name:</td><td><input type="text" id="txtaddName" /></td></tr>
                                <tr><td>LastUpdUS:</td><td><input type="text" id="txtaddUs" /></td></tr>
                                <tr><td>LastUpdDT:</td><td><input type="datetime" id="txtaddDt" /></td></tr>
                            </table>
                        </td>
                        <td><button onclick="AddEntity();return false;">Add Entity</button></td>
                        <td>Delete Entity <input type="text" id="txtdelId" style="width:50PX" /></td>
                        <td><button onclick="DeleteEntity(); return false;">Delete Entity</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

<h3>Oputput of action done through WEB API:</h3>
<ol class="round">
    <li>
        <div id="divResult"></div>

    </li>
</ol>

<script type="text/javascript">
    function GetAllEntities() {
        jQuery.support.cors = true;
        $.ajax({
            url: 'http://localhost:3761/api/Country',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function GetEntity() {
        jQuery.support.cors = true;
        var id = $('#txtId').val();
        $.ajax({
            url: 'http://localhost:3761/api/Country/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                ShowEntity(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function AddEntity() {
        jQuery.support.cors = true;
        var entities = {
            Name: $('#txtaddName').val(),
            LastUpdUS: $('#txtaddUs').val(),
            LastUpdDT: $('#txtaddDtb').val()
        };

        $.ajax({
            url: 'http://localhost:3761/api/Country',
            type: 'POST',
            data: JSON.stringify(entities),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function DeleteEntity() {
        jQuery.support.cors = true;
        var id = $('#txtdelId').val()

        $.ajax({
            url: 'http://localhost:3761/api/Country/' + id,
            type: 'DELETE',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }


    function WriteResponse(entities) {
        var strResult = "<table><th>ID</th><th>Name</th><th>LastUpdUS</th><th>LastUpdDT</th>";
        $.each(entities, function (index, entity) {
            strResult += "<tr><td>" + entity.ID + "</td><td> " + entity.Name + "</td><td>" + entity.LastUpdUS + "</td><td>" + entity.LastUpdDT + "</td></tr>";
        });
        strResult += "</table>";
        $("#divResult").html(strResult);
    }

    function ShowEntity(entity) {
        if (entity != null) {
            var strResult = "<table><th>ID</th><th>Name</th><th>LastUpdUS</th><th>LastUpdDT</th>";
            strResult += "<tr><td>" + entity.ID + "</td><td> " + entity.Name + "</td><td>" + entity.LastUpdUS + "</td><td>" + entity.LastUpdDT + "</td></tr>";
            strResult += "</table>";
            $("#divResult").html(strResult);
        }
        else {
            $("#divResult").html("No Results To Display");
        }
    }

    </script>