
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Test dictionary:";
}
    <section>
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div>
                <input class="form-control" type="text" id="txtDictName" value="Country" />
                <br />
                <table class="table table-hover">
                    <tr>
                        <td>
                          <button class="btn btn-primary btn-sm btn-block" onclick="GetAllEntities();return false;">Get All Entities</button>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm btn-block" onclick="GetEntity(); return false;">Get Entity</button>                        
                            <br />
                            Enter Entity Id:
                            <input class="form-control input-sm" type="text" id="txtId" style="width:50PX" /> 
                        </td>
                        <td>                           
                            <button class="btn btn-primary btn-sm btn-block" onclick="AddEntity();return false;">Add Entity</button>
                            <br />
                            <div class="form-group">
                                <table>
                                    <tr><td>Name:</td><td><input class="form-control" type="text" id="txtaddName" /></td></tr>
                                    <tr><td>LastUpdUS:</td><td><input class="form-control" type="text" id="txtaddUs" /></td></tr>
                                    <tr><td>LastUpdDT:</td><td><input class="form-control" type="datetime" id="txtaddDt" /></td></tr>
                                </table>
                            </div>
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm btn-block" onclick="DeleteEntity(); return false;">Delete Entity</button>
                          <br />
                          Delete Entity <input type="text" class="form-control input-sm" id="txtdelId" style="width:50PX" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

<h3>Oputput of action done through WEB API:</h3>
<div id="divResult"></div>

@section scripts {
    @Scripts.Render("~/bundles/dictionaryTest")
}