
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Test dictionary:";
}
    <section>
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div>
                <select class="form-control" id="sysDictList" onchange="GetStructur()">
                    <option data-hidden="true">Please Select...</option>
                </select>
                <br />
                <table class="table table-hover">
                    <tr>
                        <td>
                          <button class="btn btn-primary btn-sm btn-block" onclick="GetAllEntities();return false;">Get All Entities</button>
                        </td>
                        <td align="center">
                            <button class="btn btn-primary btn-sm btn-block" onclick="GetEntity(); return false;">Get Entity</button>                        
                            <br />
                            <label>Entity ID:</label>
                            <input class="form-control input-sm" type="text" id="txtId" style="width:50PX" /> 
                        </td>
                        <td align="center">                           
                            @*<div class="form-group">*@
                            <button class="btn btn-primary btn-sm btn-block" onclick="AddEntity();return false;">Add Entity</button>
                            <br />
                            <table class="table-hover" style="width:100%">
                                <tr>
                                    <td><label>Name:</label></td>
                                    <td><input class="form-control" type="text" id="txtaddName" /></td>
                                </tr>
                                <tr id="trLinked1" hidden>
                                    <td><label id="lblLinked1">Linked1</label></td>
                                    <td><select class="form-control" id="linked1"></select></td>
                                </tr>
                                <tr id="trLinked2" hidden>
                                    <td><label id="lblLinked2">Linked2:</label></td>
                                    <td><select class="form-control" id="linked2"></select></td>
                                </tr>
                                <tr id="trLinked3" hidden>
                                    <td><label id="lblLinked3">Linked3:</label></td>
                                    <td><select class="form-control" id="linked3"></select></td>
                                </tr>
                            </table>
                            @*</div>*@
                        </td>
                        <td align="center">
                            <button class="btn btn-primary btn-sm btn-block" onclick="DeleteEntity(); return false;">Delete Entity</button>
                            <br />
                            <label>Entity ID:</label>
                            <input type="text" class="form-control input-sm" id="txtdelId" style="width:50PX" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

<h3><labe id="lblResult" hidden>Oputput of action done through WEB API:</labe></h3>
<div id="divResult"></div>


@section scripts {
    @Scripts.Render("~/bundles/dictionaryTest")
}